@model FrozenFoods.Core.Models.Customer

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Customer</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)


    <span style="font-weight:Bold; color:red">@ViewBag.Message</span>

    <div class="form-group">
        <label class="control-label col-md-2"> Email </label>
        <div class="col-md-10">
            <input type="text" name="Email" class="form-control" required>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2"> Security Question </label>
        <div class="col-md-10">
            <select id="cars" name="SecurityQuestion" class="form-control">
                <option value="What is your pet's name?">What is your pet's name?</option>
                <option value="What is the name of the company of your first job?">What is the name of the company of your first job?</option>
                <option value="What was your favorite place to visit as a child?">What was your favorite place to visit as a child?</option>
                <option value="What is your spouse's mother's maiden name?">What is your spouse's mother's maiden name?</option>
                <option value="What is the country of your ultimate dream vacation?">What is the country of your ultimate dream vacation?</option>
            </select>

        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-md-2"> Answer </label>
        <div class="col-md-10">

            <input type="text" name="Answer" class="form-control" required>
        </div>
    </div>





    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
